@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

.white-text{
  color: #fff !important;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    margin-top: 60px;
  }
}
.home-page-header{
  background-size: cover;
}

@media(min-width:769px){
  .home-page-header{
    height:80vh;
    background-size: cover;
  }

}


